<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
    <section>
        <img class="logo" src="/images/logo.jpeg" alt="logo" height="50" width="50">
        <nav class="page-right-corner">
            <ul>
        <li><button>Cluck!</button></li> 
        <li><button>Sign In</button></li>
        </ul>
        </nav>

    </section>
    <form>
        <div class="username">
        <legend>Username</legend>
        <input type="text" name="Username" placeholder="e.g. Madam Weiminster">
        <button>Sign In</button>
    </div>
    </form>

