<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
    <section class="toppart">
        <img class="logo" src="/images/chickenlogo.jpg" alt="logo" height="50" width="50">
        <br>
        <div class="top-right">
            <button>Cluck!</button>
            <button>Sign In</button>
            <br>
        </div>
<br>
    </section>
    <br>
    <hr>
    <div class="container">
    <form>
        <div class="username">
        <legend class="legend">Username</legend>
        <input class="entername" type="text" name="Username" placeholder="e.g. Madam Weiminster">
        <button class="sigin" >Sign In</button>
    </form>
    </div>
</div>


