<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <img src="http://www.earthtouchnews.com/cute-and-cool/art-and-design/animal-artwork-elegant-logo-designs-inspired-by-nature" alt="logo" height="50" width="50">
    <button>Cluck!</button>
    <button>Sign In</button>
    

    <form >
        <fieldset>
            <legend>Username</legend>
        <input type="text" name="Username" placeholder="e.g. Madam Weiminster">
        <button>Sign In</button>
    </fieldset>
    </form>
