<%- include("./partials/header.ejs") %> 
<section class="toppart">
    <img class="logo" src="/images/chickenlogo.jpg" alt="logo" height="50" width="50">
    <br>
    <br>
    <div class="top-right">
        <button>Cluck!</button>
        <button>SignIn</button>
    <br>
    </div>
<br>
<br>
</section>
<hr>


<%- include("./partials/footer.ejs") %> 