<%- include("./partials/header.ejs") %> 
     <section class="page2">
       <div class="toppart">
           <img class="logo" src="/images/chickenlogo.jpg" alt="logo" height="50" width="50">
           <br>
           <button>Cluck!</button>
           <button>Cluck_master</button>
           <button>Sign Out</button>
       </div>
     
       <div class="container1">
        <form action="/clucks" method="POST"> 
           <div class="secondpage">
           <legend class="legend">Content</legend>
           <input class="contents" type="text" name="content" placeholder="whatchoo cluckin' 'about?">
           <br>
           <br>
           <label class="colorimage" for="image"> Image URL</label>
           <input class="imageurl" type="text" name="image" placeholder="http://i.immm.gifv" >
           <input class="cluckbutton" type="submit" value="Cluck"></button>
        </div>
       </form>
       
   </div>
</section> 
<%- include("./partials/footer.ejs") %> 


