       <section class="toppart">
           <img class="logo" src="/images/chickenlogo.jpg" alt="logo" height="50" width="50">
       </section>
       <hr>
       <div class="container1">
       <form>
           <div class="secondpage">
           <legend class="legend">Content</legend>
           <input class="contents" type="text" name="content" placeholder="whatchoo cluckin' 'about?">
           <br>
           <br>
           <input class="imageurl" type="text" name="image" placeholder="http://i.immm.gifv" >
           <button class="cluckbutton">Cluck!</button>
       </form>
       </div>
   </div>