<%- include("./partials/header.ejs") %> 
<section class="toppart">
    <img class="logo" src="/images/chickenlogo.jpg" alt="logo" height="50" width="50">
    <br>
    <div class="top-right">
        <button>Cluck!</button>
        <button>SignIn</button>
        <!-- <a href="/signin">Sign In</a> -->
        <!-- <button>cluck_master</button> -->
           <!-- <button>Sign Out</button> -->
        <br>
    </div>
<br>
</section>
<form>
    <div class="username">
    <legend class="legend">Username</legend>
    <input class="entername" type="text" name="Username" placeholder="e.g. Madam Weiminster">
    <!-- <button class="sigin" >Sign In</button> -->
</form>
<form method="post" action="/signin"> 
    <button class="sigin" type="submit">Sign In</button>
    </form>

<%- include("./partials/footer.ejs") %> 