.logo{
    float:left;
    position: relative;
}

.top-right{
    float: right;
}

.username{
    width: 300px;
    height: 50px;
    border: groove;
    background: #fff;
    margin: 8% auto 0;
    padding: 0.5em;
}
body{
    width: 350px;
    height:500px;
    background: #fff;
    /* margin: 8% auto 0; */
    border: groove;
    padding: 0.5em;
}
.toppart{
    padding: 0.8em;
}
.legend{
    float: left;
    color: gray;
    align-items: flex-start;
}
.signin{
    align-items: flex-end;
    color: gray;
}
.entername{
text-align: center;
align-items: center;
}

.contents{
    align-items: flex-end;
    color: gray;
    height: 200px;
    width: 230px;
    padding: 1.5em;
}
.entername{
text-align: center;
align-items: center;
}

.imageurl{
    align-items: flex-end;
    color: gray;
    height: 10px;
    width: 250px;
    padding: 0.5em;
}
.secondpage{
    border: groove;
    padding: 0.5em;
    height: 400px;
}
.cluckbutton{
    position: absolute;
    bottom: 53%;
}
.signin{
    float: right;
}
.colorimage{
    color: gray;
}